<div style = "margin-left: 30px;">
  <h1>ようこそ Bookersへ！</h1>
</div>

<div style = "margin-left: 70px;">
  <p><b>Bookers</b>では様々な書籍に関するあなたの意見や<br>印象を共有し交換することができます<br></p>
<%= link_to "start", books_path %>
</div>